.git
.gitmodules
.idea
.vscode

**/.angular
**/dist
**/node_modules
**/vendor

**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

api-bayzarAgro/database/*.sqlite
api-bayzarAgro/bootstrap/cache/*.php
api-bayzarAgro/storage/*.key
api-bayzarAgro/storage/framework/cache/data/*
api-bayzarAgro/storage/framework/sessions/*
api-bayzarAgro/storage/framework/views/*
api-bayzarAgro/storage/logs/*

**/*.log
**/.DS_Store
**/Thumbs.db
